<div class="layer1">
 <div id = "header" > Wired Top Stories </div>
  <% @feed_entries.each do |entry|  %>
   <%= link_to content_tag(:p, entry.title.html_safe,class: "heading"), feed_entry_path(entry),remote: true,id:  entry.id %>
     <div class="content"></div>  
     <% end %>
</div>

<div class="navigate">
<%= will_paginate @feed_entries %>
<div>